<div class="repo-list-item public source" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="repo-list-stats">
      <span itemprop="programmingLanguage">
        Ruby
      </span>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/github_profile_page/stargazers" aria-label="Stargazers">
      <svg aria-hidden="true" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/github_profile_page/network"  aria-label="Forks">
      <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path d="M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"></path></svg>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/<%=@username%>/github_profile_page" itemprop="name codeRepository">
      github_profile_page</a>
  </h3>




  <p class="repo-list-meta">
      Updated <time datetime="2016-03-01T21:30:33Z" is="relative-time">Mar 1, 2016</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/<%=@username%>/github_profile_page/graphs/participation?h=100&amp;w=640"></poll-include-fragment>
  </div>
</div>



<div class="repo-list-item public source" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="repo-list-stats">
      <span itemprop="programmingLanguage">
        Ruby
      </span>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/voter_api/stargazers" aria-label="Stargazers">
      <svg aria-hidden="true" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/voter_api/network"  aria-label="Forks">
      <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path d="M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"></path></svg>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/<%=@username%>/voter_api" itemprop="name codeRepository">
      voter_api</a>
  </h3>




  <p class="repo-list-meta">
      Updated <time datetime="2016-02-24T23:00:10Z" is="relative-time">Feb 24, 2016</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/<%=@username%>/voter_api/graphs/participation?h=100&amp;w=640"></poll-include-fragment>
  </div>
</div>



<div class="repo-list-item public source" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="repo-list-stats">
      <span itemprop="programmingLanguage">
        Ruby
      </span>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/weather_report/stargazers" aria-label="Stargazers">
      <svg aria-hidden="true" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/weather_report/network"  aria-label="Forks">
      <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path d="M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"></path></svg>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/<%=@username%>/weather_report" itemprop="name codeRepository">
      weather_report</a>
  </h3>




  <p class="repo-list-meta">
      Updated <time datetime="2016-02-23T01:24:16Z" is="relative-time">Feb 23, 2016</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/<%=@username%>/weather_report/graphs/participation?h=100&amp;w=640"></poll-include-fragment>
  </div>
</div>



<div class="repo-list-item public source" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="repo-list-stats">
      <span itemprop="programmingLanguage">
        Ruby
      </span>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/employee_reviews_with_database/stargazers" aria-label="Stargazers">
      <svg aria-hidden="true" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/employee_reviews_with_database/network"  aria-label="Forks">
      <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path d="M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"></path></svg>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/<%=@username%>/employee_reviews_with_database" itemprop="name codeRepository">
      employee_reviews_with_database</a>
  </h3>




  <p class="repo-list-meta">
      Updated <time datetime="2016-02-18T01:08:07Z" is="relative-time">Feb 18, 2016</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/<%=@username%>/employee_reviews_with_database/graphs/participation?h=100&amp;w=640"></poll-include-fragment>
  </div>
</div>



<div class="repo-list-item public source" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="repo-list-stats">
      <span itemprop="programmingLanguage">
        Ruby
      </span>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/time_entry_data_structure/stargazers" aria-label="Stargazers">
      <svg aria-hidden="true" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/time_entry_data_structure/network"  aria-label="Forks">
      <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path d="M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"></path></svg>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/<%=@username%>/time_entry_data_structure" itemprop="name codeRepository">
      time_entry_data_structure</a>
  </h3>




  <p class="repo-list-meta">
      Updated <time datetime="2016-02-16T14:29:30Z" is="relative-time">Feb 16, 2016</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/<%=@username%>/time_entry_data_structure/graphs/participation?h=100&amp;w=640"></poll-include-fragment>
  </div>
</div>



<div class="repo-list-item public source" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="repo-list-stats">
      <span itemprop="programmingLanguage">
        Ruby
      </span>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/employee_reviews/stargazers" aria-label="Stargazers">
      <svg aria-hidden="true" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/employee_reviews/network"  aria-label="Forks">
      <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path d="M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"></path></svg>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/<%=@username%>/employee_reviews" itemprop="name codeRepository">
      employee_reviews</a>
  </h3>




  <p class="repo-list-meta">
      Updated <time datetime="2016-02-14T21:57:54Z" is="relative-time">Feb 14, 2016</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/<%=@username%>/employee_reviews/graphs/participation?h=100&amp;w=640"></poll-include-fragment>
  </div>
</div>



<div class="repo-list-item public source" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="repo-list-stats">
      <span itemprop="programmingLanguage">
        Ruby
      </span>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/currency_converter/stargazers" aria-label="Stargazers">
      <svg aria-hidden="true" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/currency_converter/network"  aria-label="Forks">
      <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path d="M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"></path></svg>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/<%=@username%>/currency_converter" itemprop="name codeRepository">
      currency_converter</a>
  </h3>




  <p class="repo-list-meta">
      Updated <time datetime="2016-02-08T13:34:42Z" is="relative-time">Feb 8, 2016</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/<%=@username%>/currency_converter/graphs/participation?h=100&amp;w=640"></poll-include-fragment>
  </div>
</div>



<div class="repo-list-item public source" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="repo-list-stats">
      <span itemprop="programmingLanguage">
        Ruby
      </span>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/blackjack_advisor/stargazers" aria-label="Stargazers">
      <svg aria-hidden="true" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/blackjack_advisor/network"  aria-label="Forks">
      <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path d="M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"></path></svg>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/<%=@username%>/blackjack_advisor" itemprop="name codeRepository">
      blackjack_advisor</a>
  </h3>




  <p class="repo-list-meta">
      Updated <time datetime="2016-02-04T01:03:39Z" is="relative-time">Feb 4, 2016</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/<%=@username%>/blackjack_advisor/graphs/participation?h=100&amp;w=640"></poll-include-fragment>
  </div>
</div>



<div class="repo-list-item public source" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="repo-list-stats">
      <span itemprop="programmingLanguage">
        Ruby
      </span>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/guessing_game/stargazers" aria-label="Stargazers">
      <svg aria-hidden="true" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/guessing_game/network"  aria-label="Forks">
      <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path d="M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"></path></svg>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/<%=@username%>/guessing_game" itemprop="name codeRepository">
      guessing_game</a>
  </h3>




  <p class="repo-list-meta">
      Updated <time datetime="2016-02-03T12:06:05Z" is="relative-time">Feb 3, 2016</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/<%=@username%>/guessing_game/graphs/participation?h=100&amp;w=640"></poll-include-fragment>
  </div>
</div>



<div class="repo-list-item public source" itemprop="owns" itemscope itemtype="http://schema.org/Code">
  <div class="repo-list-stats">
      <span itemprop="programmingLanguage">
        Ruby
      </span>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/even_or_odd/stargazers" aria-label="Stargazers">
      <svg aria-hidden="true" class="octicon octicon-star" height="16" role="img" version="1.1" viewBox="0 0 14 16" width="14"><path d="M14 6l-4.9-0.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14l4.33-2.33 4.33 2.33L10.4 9.26 14 6z"></path></svg>
      0
    </a>
    <a class="repo-list-stat-item tooltipped tooltipped-s" href="/<%=@username%>/even_or_odd/network"  aria-label="Forks">
      <svg aria-hidden="true" class="octicon octicon-git-branch" height="16" role="img" version="1.1" viewBox="0 0 10 16" width="10"><path d="M10 5c0-1.11-0.89-2-2-2s-2 0.89-2 2c0 0.73 0.41 1.38 1 1.72v0.3c-0.02 0.52-0.23 0.98-0.63 1.38s-0.86 0.61-1.38 0.63c-0.83 0.02-1.48 0.16-2 0.45V4.72c0.59-0.34 1-0.98 1-1.72 0-1.11-0.89-2-2-2S0 1.89 0 3c0 0.73 0.41 1.38 1 1.72v6.56C0.41 11.63 0 12.27 0 13c0 1.11 0.89 2 2 2s2-0.89 2-2c0-0.53-0.2-1-0.53-1.36 0.09-0.06 0.48-0.41 0.59-0.47 0.25-0.11 0.56-0.17 0.94-0.17 1.05-0.05 1.95-0.45 2.75-1.25s1.2-1.98 1.25-3.02h-0.02c0.61-0.36 1.02-1 1.02-1.73zM2 1.8c0.66 0 1.2 0.55 1.2 1.2s-0.55 1.2-1.2 1.2-1.2-0.55-1.2-1.2 0.55-1.2 1.2-1.2z m0 12.41c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z m6-8c-0.66 0-1.2-0.55-1.2-1.2s0.55-1.2 1.2-1.2 1.2 0.55 1.2 1.2-0.55 1.2-1.2 1.2z"></path></svg>
      0
    </a>
  </div>

  <h3 class="repo-list-name">
    <a href="/<%=@username%>/even_or_odd" itemprop="name codeRepository">
      even_or_odd</a>
  </h3>



    <p class="repo-list-description" itemprop="description">
      Simple Program asking for user input and tells whether integer is even or odd
    </p>

  <p class="repo-list-meta">
      Updated <time datetime="2016-01-17T16:34:36Z" is="relative-time">Jan 17, 2016</time>
  </p>

  <div class="participation-graph">
    <poll-include-fragment src="/<%=@username%>/even_or_odd/graphs/participation?h=100&amp;w=640"></poll-include-fragment>
  </div>
</div>
